@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dot-task-doing {
	border-width: 2px;
	border-style: solid;
	box-sizing: border-box;
}

.dot-task-next {
	border-width: 1px;
	border-style: solid;
	box-sizing: border-box;
}
